.container{
    margin-left: 50px; 
    height: 250px;
    width: 280px; 
    margin-top: 100px; 
}


.image{
    height: 250px;
    width: 280px;
    background-color: red;
    border-radius: 20px;
}

.product{
    height: 250px;
    width: 280px;
    border-radius: 20px;
    
}

.btn{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border-color: rgb(200,183,178);
    background-color: white;
    transform: translateY(-17px);
}

.btn:hover{
    color: rgb(202,71,30);
    cursor: pointer;
}


.img2{
    margin-right: 13px;
    margin-top: -3px;
}

.btntxt{
    margin-left: 5px;
    font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


.txt3{
    color: rgb(157,128,125);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: -10px;
}

.txt4{
    font-family: 'Red Hat Display', sans-serif;
    margin-top: -10px;
}

.txt5{
    margin-top: -10px;
    color: rgb(200,67,54);
    font-family: 'Red Hat Display', sans-serif;
}
