/* Flex container to hold all cards in App component */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Ensures cards wrap if they exceed the container width */
    justify-content: space-around; /* Spaces out the cards evenly */
    padding: 20px;
  }
  
  /* Main box for each card, ensuring flex behavior */
  .mainBox {
    margin-top: 90px;
    width: 280px;
    margin-left: 20px;
  }
  
  /* Styling for the card container itself */
  .container {
    height: 350px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
  }
  
  /* Image inside the card */
  .product {
    height: 250px;
    width: 280px;
    border-radius: 20px;
  }
  
  .btn {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border-color: rgb(200,183,178);
    background-color: white;
    transform: translateY(-17px);
  }
  
  .btn:hover {
    color: rgb(202,71,30);
    cursor: pointer;
  }
  
  .img2 {
    margin-right: 13px;
    margin-top: -3px;
  }
  
  .btntxt {
    margin-left: 5px;
    font-size: 14px;
  }
  
  .txt3 {
    color: rgb(157,128,125);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: -10px;
  }
  
  .txt4 {
    font-family: 'Red Hat Display', sans-serif;
    margin-top: -10px;
  }
  
  .txt5 {
    margin-top: -10px;
    color: rgb(200,67,54);
    font-family: 'Red Hat Display', sans-serif;
  }
  