@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');


.txt{
  font-family: 'Red Hat Display', sans-serif;

}

.mainBody{
  background-color: rgb(10, 221, 112);
  width: 900px;
}

.answer{
  background-color: blue;
  height: 1330px;
  width: 580px;
  margin-left: 920px;
  transform: translateY(-1356px);
}